html {
    font-size: 91%;
}

html, body, div, section {
    margin: 0;
    padding: 0;
    display: block;
}

body {
    background-color: #456789
}

h1, h2, h3, p, a, dt, dd, button, caption, label, submit, textarea, span {
    color: #585352;
    font-family: Tahoma;
}

.tpb {
    font-family: "PT Sans Narrow";
}

form {
    display: block;
    width: 780px;
    margin: 0 auto;
    color: #585352;
}

.form {
    background: url(../img/pink_texture.jpg) repeat 0 0 #f6e4e2;
    border-bottom: 2px solid #333;
    padding: 1.5rem 0;
}

label {
    display: inline-block;
    clear: left;
    padding-left: 12rem;
    width: 12rem;
}

label:after {
    content: ':';
}

input {
    display: inline-block;
    clear: right;
    border: 1px solid #ccc;
    border-top: 2px;
    padding: 8px;
    font-size: 1.6rem;
}

.submitForm {
    color: #fff;
    padding: 0.4rem 2.0rem 0.4rem 1.2rem;
    margin: 0px;
    background:  #12a09b url(../img/arrow.png)  no-repeat right center;
    border: 0px solid black;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.closeSection {
    color: #fff;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    margin: 0px;
    background:  #12a09b no-repeat right center;
    border: 0px solid black;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 100;
}

#thanks {
    display: none;
}
.showHide {
    position:relative;
    display:block;
    height: 104px;
    width: 250px;
    background: #ccc;
}

.showHide * {
    display: none;
}
