<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tech ProBono - matching skills and needs</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="js/script.js" type="text/javascript"></script>

		<script src="js/script.js" type="text/javascript"></script>
	</head>
	<body>
	    <header>
	        <h1 id="logo">Tech ProBono</h1>
	        <div id="headerDetails">
	            <span>Browser Good Causes</span>
	            <span>What's TPB</span>
	            <a class="button" id="search"></a>
	            <a class="button" id="notSureWhatThisIs"></a>
	            <a class="button" id="prefs"></a>
	            <a class="button" id="share"></a>
	            <span id="person">Tom Hanks</span>
	        </div>
	    </header>
	    <div id="mainContent">
	        <nav id="userDetails">
	            <img id="userPhoto" src="userPics/tomhanks.png" />
	            <h2 id="userName">Tom Hanks</h2>
	            <p id="strapLine">Developer & Stripper</p>
	            <ul id="userLinks">
	                <li id="userLinksLocation" class="userLink">London / UK</li>
	                <li id="userLinksWebsite" class="userLink">tomhanks.com</li>
	                <li id="userLinksTwitter" class="userLink">@tomhanks</li>
	                <li id="userLinksGit" class="userLink">/tommy</li>
	                <li id="userLinksOther" class="userLinksOther">tom.tumblr.com</li>
	            </ul>
	        </nav>
	        <div id="projects">
	            <ul class="current">
	                <li>
	                    <h2>Currently Working On: </h3>
	                    <h3>Lorum Ipsum Project</h3>
	                    <p>Water spinach plectranthus, winged bean ceylon spinach brussels
	                    sprout beetroot - canna. Swiss chard, ti water spinach; winter
	                    melon. Swede mung bean; catsear garbanzo, pea, beet greens. Bamboo
	                    shoot american groundnut cabbage, chicory avocado chinese cabbage
	                    bitter gourd, sweet potato or kumara. Parsnip avocado, runner
	                    bean; bitter melon; tepary bean.</p>
	                    <ul class="projectRoles">
	                        <p>Role in the project</p>
	                        <li>ipsum</li>
	                        <li>loren</li>
	                        <li>something else</li>
	                    </ul>
	                </li>
	            </ul>
	            <p>Previous Projects</p>
	            <ul>
	                <li>
	                    <h3>Good Cause Project</h3>
	                    <p>Bell pepper camas ti, mizuna greens, guar radish pumpkin kale
	                    ti mizuna greens cress. Prairie turnip potato, sweet potato or
	                    kumara leek. Garlic rutabaga watercress chinese mallow ensete
	                    fiddlehead jícama endive.</p>
	                    <ul class="projectRoles">
	                        <p>Role in the project</p>
	                        <li>ipsum</li>
	                        <li>something else</li>
	                    </ul>
	                </li>
	                <li>
	                    <h3>Good Cause Project</h3>
	                    <p>Bell pepper camas ti, mizuna greens, guar radish pumpkin kale
	                    ti mizuna greens cress. Prairie turnip potato, sweet potato or
	                    kumara leek. Garlic rutabaga watercress chinese mallow ensete
	                    fiddlehead jícama endive.</p>
	                    <ul class="projectRoles">
	                        <p>Role in the project</p>
	                        <li>ipsum</li>
	                        <li>something else</li>
	                    </ul>
	                </li>
	                <li>
	                    <h3>Good Cause Project</h3>
	                    <p>Bell pepper camas ti, mizuna greens, guar radish pumpkin kale
	                    ti mizuna greens cress. Prairie turnip potato, sweet potato or
	                    kumara leek. Garlic rutabaga watercress chinese mallow ensete
	                    fiddlehead jícama endive.</p>
	                    <ul class="projectRoles">
	                        <p>Role in the project</p>
	                        <li>ipsum</li>
	                        <li>something else</li>
	                    </ul>
	                </li>
	            </ul>
	        </div>

	    </div>
	</body>
</html>
