<!doctype html>
<html>
    <head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
		<meta charset="utf-8">
        <title>Lanyard test</title>
		<link rel="stylesheet" href="css/style.css">
		<style>
        </style>
        <script src="http://cdn.lanyrd.net/badges/person-v1.min.js"></script>



		<script src="js/script.js" type="text/javascript"></script>
	</head>
	<body>
	    <a href="http://lanyrd.com/profile/veganben/" rel="me"></a>
       <div class="lanyrd-target-splat lanyrd-template-detailed lanyrd-context-all"><a href="http://lanyrd.com/profile/veganben/" class="lanyrd-splat lanyrd-context-all" rel="me"></a></div>

	</body>
</html>
